header,
h1,
h2 {
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
}

h1 {
    font-size: 3em;
    animation: slideright 2s ease-out;
}

h2 {
    text-align: center;
    animation: slideleft 2s ease-out;
}

main {
    position: relative;
}

.title-container {
    position: absolute;
    width: 65vw;
    padding: 10% 0 0 10%;
}


@keyframes slideleft {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%)
    }
}

@keyframes slideright {
    from {
        transform: translateX(-30%);
    }

    to {
        transform: translateX(0%)
    }
}