.bg {
    background-image: url("./assets/stairs.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.MuiPaper-elevation1 {
    background: blue;
}

header,
h1,
h2 {
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
}

h1 {
    font-size: 3em;
    animation: slideright 2s ease-out;
}

h2 {
    text-align: center;
    animation: slideleft 2s ease-out;
}

main {
    position: relative;
}

.title-container {
    position: absolute;
    width: 65vw;
    padding: 10% 0 0 10%;
}

.option1,
.option2,
.option3 {
    position: absolute;
    border-radius: 50%;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}

.link:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: black;
    transition: 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.link:hover:after {
    width: 100%;
    left: 0;
}

.option1 {
    right: 2vw;
    top: 40vh;
}

.option2 {
    right: 10vw;
    top: 56vh;
}

.option3 {
    right: 20vw;
    top: 70vh;
}

@keyframes slideleft {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%)
    }
}

@keyframes slideright {
    from {
        transform: translateX(-30%);
    }

    to {
        transform: translateX(0%)
    }
}