.paper-div .paper {
    margin-top: 5%;
    background: rgba(165, 165, 159, .2);
}

.paper-div .MuiTypography-h5 {
    font-family: 'Montserrat', sans-serif;
}

.paper-div .MuiTypography-body1 {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.paper-div {
    position: relative;
}

.MuiPaper-elevation1 {
    position: absolute;
    left: 0;
}

.project-square {
    min-height: 10em
}